html,body {
    height:100vh;
}

body {
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    /* background-color: blanchedalmond; */
}

#header {
    margin:0;
    padding:0;
    display:flex;
    height:2em;
    border:0;
    border-bottom: solid black 1px;
}

#main-content {
    display:flex;
    height: calc( 100% - 4em );
}
#image-section {
    margin-right: 0;
    flex:4;
    display:flex;
    flex-direction: column;
}
#image-gallery {
    overflow-y:scroll;
    height:100%;
}
.image {
    width:100%;
}

#random-image.htmx-added {
    opacity: 0;
}
#random-image {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}
#random-image.htmx-swapping{
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

#comments-section {
    display: flex;
    flex-direction:column;
    flex:1;
    justify-content: space-between;
}


/* #side-panel-toggle {
    position:fixed;
    width:50px;
	height:50px;
    top:0px;
    left:0px;
} */

/* #comments-toggle {
    position:fixed;
	width:50px;
	height:50px;
	top:2em;
	right:2em;
} */

.section {
    margin: 1em; 
    border: solid black 1px;
}
.section-header {
    display: flex;
    justify-content: space-between;
    border:0;
    border-bottom: solid black 1px;
}

#return-home {
    background-color: blue;
    color:white;
    border-radius: 5px;
    border: 1px;
}
